* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formcontainer {
    position: relative;
    left: -100px;
    top:100px;
}

div {
    border-radius: 5px;
}



.formcontainer h1 {
    text-align: left;
    margin-top: 20px;
}

.formcontainer hr {
    width: 150%;
    color: gray;
    margin-bottom: 15px;
}


.formcontainer .textfield input {

    width: 150%;
    height: 40px;
    margin-top: 15px;
}

small {
    color: red;
    font-size: 10px;
}

#sign-up {
    background-color: rgb(29, 88, 227);
    color: white;
    height: 40px;
    width: 80px;
    border: 0 black solid;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}


#reset {
    background-color: red;
    color: white;
    height: 40px;
    width: 80px;
    border: 0 black solid;
    border-radius: 3px;
    cursor: pointer;
}